* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    background-color: var(--color-white);
    color: var(--color-text-main);
    overflow-x: hidden;
}
