* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem; 
    margin: 0;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1.5rem;
}

.product-card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.625rem;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    width: 100%;
    max-width: 23.5rem; 
    box-shadow: 0 0.9375rem 1.875rem rgba(0,0,0,0.05);
}

.card-image {
    width: 100%;
    height: 17rem; 
}

.img-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.img-desktop {
    display: none;
}

.card-text {
    padding: 2rem; 
    display: flex;
    flex-direction: column;
}

.product-genre {
    color: hsl(228, 12%, 48%);
    letter-spacing: 0.3125rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
}

.product-name {
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces", serif;
    font-size: 2.2rem; 
    line-height: 1;
    margin: 0 0 1rem 0;
}

.product-description {
    color: hsl(228, 12%, 48%);
    line-height: 1.6;
    margin: 0 0 1.5rem 0;
    font-size: 0.95rem; 
}

.prices {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 1.5rem;
}

.new-price {
    font-size: 2.2rem; 
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-family: "Fraunces", serif;
}

.old-price {
    font-size: 0.8rem;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.purchase-button {
    width: 100%; 
    height: 3.2rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.95rem; 
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.5rem;
}

.purchase-button:active {
    background-color: hsl(158, 42%, 18%);
}
.purchase-button:hover{
  cursor: pointer;
}


@media (min-width: 40rem) {

    .product-card {
        flex-direction: row; 
        max-width: 40rem; 
        height: auto; 
    }

    .card-image {
        width: 50%;
        height: auto; 
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-text {
        width: 50%;
        padding: 2.2rem; 
        justify-content: center; 
    }
    
    .product-name {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 120rem) {
    html {
        font-size: 50px; 
    }
}
